<html lang="en">
  <%- include("./mainParts/head.ejs") %>

  <body>

    <%- include("./mainParts/nav.ejs") %>

    <form class="mt-2 p-4" method="POST">
        <div class="form-group mb-2">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= blog.title %>">
        </div>
        <div class="form-group mb-2">
            <label for="snippet">snippet</label>
            <input type="text" class="form-control" id="snippet" name="snippet" value="<%= blog.snippet %>">
        </div>
        <div class="form-group mb-2">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" value="<%=blog.Description%>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <%- include("./mainParts/closed.ejs") %>
</html>