<html lang="en">
  <%- include("./mainParts/head.ejs") %>

  <body>
    <%- include("./mainParts/nav.ejs") %>

    <div class="row gap-3 mt-3 px-5 justify-content-center">
      <% if(result.length > 0){ %>
        <%result.forEach(blog =>{ %>
          <div class="card col-lg-3 col-md-4 col-sm-6">
            <div class="card-body">
              <div class="card-title"><%=blog.title%></div>
              <div class="card-text mb-2"><%=blog.snippet%></div>
              <a href="<%= blog._id %>" class="btn btn-primary">Details</a>
            </div>
          </div>
        <% }) %>
      <% }else{ %>
        <p class="text-center mt-3 p-2 fs-1">No Blogs To Display It ....</p>
      <% } %>
    </div>

    <%- include("./mainParts/closed.ejs") %>
</html>
